@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&family=Roboto:ital,wght@0,300;1,400&display=swap');
:root{ 
	--main-color:#8e44ad;
	--black:#222;
	--white:rgb(245, 240, 240);
	--light-black:#777;
	--dark-bg:rgba(0,0,0,7);
	--border:1rem solid var(--black);
	--box-shadow:0 .5rem 1rem rgbaa(0,0,0,.1);
	--text-shadow:0 1.5rem 3rem rgbaa(0,0,0,.3);
}

*{
font-family: 'Roboto', sans-serif;
margin: 0; padding:0;
box-sizing: border-box;
outline: none; border: none;
text-decoration: none;
text-transform: capitalize;

}

html{
	font-size: 62.5%;
	overflow-x: hidden;
}

html::-webkit-scrollbar{
	width: 1rem;

}
html::-webkit-scrollbar-track{
	width: 1rem;
	background-color: var(--white);

}

html::-webkit-scrollbar-thumb{
	background-color: var(--main-color);

}

section{
padding: 5rem 10%;	

}

@keyframes fadeIn{
	0%{
		transform: scale(0);
		opacity: 0;
	}
}
.heading{
	background-size: cover !important;
	background-position: center !important;
	padding-top: 10rem;
	padding-bottom: 15rem;
	display: flex;
	align-items: center;
	justify-content: center;




}
.heading h1{
	font-size: 10em;
	text-transform: uppercase;
	color: var(--white);
	text-shadow: var(--text-shadow);


}
.btn{
	display: inline-block;
	margin-top: 1rem;
	background: var(--black);
	color: var(--white);
	font-size: 1.7rem;
	padding: 1rem 3rem;
	cursor: pointer;
}
.btn:hover{
	background: var(--main-color);

}


.heading-title{
	text-align: center;
	margin-bottom: 3rem;
	font-size: 6rem;
	text-transform: uppercase;
	color: var(--black);
}

.header{
position: sticky;
top:0 ; left: 0; right:0 ;
z-index: 1000;
background-color: var(--white);
display: flex;
padding-top: 2rem;
padding-bottom: 2rem;
box-shadow:var(--box-shadow) ;	
align-items: center;
justify-content: space-between;
}
.header img{
	
  max-width: 100%;
  height: auto;
  display: block;  
  
	
}

.header .logo {
	font-size: 2.5rem;
	color: var(--black);
	
	
}

.header .navbar a{
	font-size: 2rem;
	margin-left: 2rem;
	color:var(--black);
}

.header .navbar a:hover{
	color:var(--main-color);
}

#menu-btn{
	font-size: 2.5rem;
	cursor: pointer;
	color:var(--black);
	display: none;

}

.home{
	padding: 2rem;
}

.home .swiper-slide{
	text-align: center;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover !important;
	background-position: center !important;
	
	
	min-height: 40rem;
}
.home .slide .content{
	width: 85rem;
	display: none;
}
.home .swiper-slide-active .content{
	display: inline-block;
}

.home .slide .content span{
	display: block;
	font-size: 2.2rem;
	color: var(--white);
	padding-bottom: 1rem;
	animation:fadeIn .4s linear backwards .2s;

}
.home .slide .content h3{
	font-size: 6vw;
	color: azure;
	line-height: 1;
	text-shadow: var(--text-shadow);
	padding: 1rem 0;
	animation:fadeIn .4s linear backwards .4s;
	
}
.home .slide .content .btn{
	animation:fadeIn .4s linear backwards .6s;

	
}

.home .swiper-button-next,
.home .swiper-button-prev{
	top: inherit;
	left: inherit;
	bottom: 0;
	right: 0;
	height: 6rem;
	width: 6rem;
	background: var(--white);
	color: var(--black);
}
	
.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
	background: var(--main-color);
	color: var(--white);


}
.home .swiper-button-next:hover::after,
.home .swiper-button-prev:hover::after{
	font-size: 2rem;

}
.home .swiper-button-prev{

	right: 7em;
}






.services  .box-container{
	display: grid;
grid-template-columns: repeat(auto-fit,minmax(16rem, 1fr));
gap: 1.5rem;

}
.services  .box-container .box{
	padding: 3rem 2rem;
	text-align: center;
	background: var(--main-color);
	cursor: pointer;
}

.services  .box-container .box:hover{
	background: var(--black);
}
.services  .box-container .box img{
	height: 9rem;
}
.services  .box-container .box h3{
	color: var(--white);
	font-size: 1.7rem;
	padding-top: 1rem;
}


.home-about{
	display: flex;
	align-items: center;
	flex-wrap: wrap;

}

.home-about .image{
	flex: 1 1 41rem;
}

.home-about .image img{
	width: 100%;
}
.home-about .content{
	flex: 1 1 41rem;
	padding: 3rem;
	background: var(--light-black);
	
}
.home-about .content h3{
	font-size: 3rem;
	color: var(--black);
}
.home-about .content p{
	font-size: 1.5rem;
	color: var(--black);
	line-height: 2;
	padding: 1rem 0;

}

.home-packages{
	background: lavender;

}

.home-packages .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
	gap: 3rem;



}

.home-packages .box-container .box{

border: var(--border);
box-shadow: var(--box-shadow);
background: lavenderblush;
}

.home-packages .box-container .box  .image{
	height: 25rem;
	overflow: hidden;

}
.home-packages .box-container .box  .image img{
	height: 100½;
	width: 100%;
	object-fit: cover;

}
.home-packages .box-container .box  .content{
	padding: 2rem;
	text-align: center;
}
.home-packages .box-container .box  .content h3{
	font-size: 2.4rem;
	color: var(--black);
}
.home-packages .box-container .box  .content p{
	font-size: 1.5rem;
	color: var(--light-black);
	line-height: 2rem;
	padding: 1rem 0;
}

.home-packages .load-more{
	text-align: center;
	margin-top: 2rem;



}
.home-offer{
	text-align: center;
}

.home-offer .content{
	margin:0 auto;
	max-width: 70rem;
}
.home-offer .content h3{
	font-size: 3.5rem;
	color: var(--black);
}
.home-offer .content p{
	font-size: 1.5rem;
	color: var(--light-black);
	line-height: 2;
	padding: 1rem 0;

}
.about{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 3rem;
}
.about .image{
	flex: 1 1 41rem;
	
	

}

.about .image img {
	width: 100½;
	
}
.about .content{
	flex: 1 1 41rem;
	text-align: left;

}
.about .content h3{
	font-size:5rem ;
	color: var(--light-black);

}
.about .content p{
	font-size: 1.5rem;
	color: var(--light-black);
	line-height: 2;
	padding:1rem 0;
}

.about .content  .icons-container{
margin-top: 2rem;
display: flex;
flex-wrap: wrap;
gap: 1.5rem;
align-items: flex-end;

}
.about .content  .icons-container .icons{
	background: var(--light-black);
	padding: 2rem;
	flex: 1 1 16rem;


	

}
.about .content  .icons-container .icons i{
	font-size: 4rem;
	margin-bottom: 1rem;
	color: var(--main-color);
	display: block;
	
}
.about .content  .icons-container .icons span{
	font-size: 1.5rem;
	color: var(--white);
	
}

.reviews{
	background: var(--light-black);


}
.reviews .slide{
	padding: 2rem;
	border: var(--border);
	background: var(--white);
	box-shadow: var(--box-shadow);
	
}
.reviews .slide .stars i{
	font-size: 1.7rem;
	color: #8e44ad;


}
.reviews .slide h3{
	font-size: 2rem;
	color: var(--black);

}
.reviews .slide p{
	font-size: 1.5rem;
	color: var(--light-black);
	line-height: 2;
	padding: 1rem 0;
}
.reviews .slide span{
	font-size: 1.5rem;
	color: #8e44ad;
	display: block;

}
.reviews .slide img{
	height:7rem ;
	width: 7rem;
	border-radius: 50%;
	margin-top: 1rem;
}



.packages .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
	gap: 3rem;
	



}

.packages .box-container .box{

border: var(--border);
box-shadow: var(--box-shadow);
background: lavenderblush;
border-radius:  10px; ;
display: block;
}

.packages .box-container .box  .image{
	height: 25rem;
	overflow: hidden;

}
.packages .box-container .box  .image img{
	height: 100½;
	width: 100%;
	object-fit: cover;

}
.packages .box-container .box  .content{
	padding: 2rem;
	text-align: center;
}
.packages .box-container .box  .content h3{
	font-size: 2.4rem;
	color: var(--black);
}
.packages .box-container .box  .content p{
	font-size: 1.5rem;
	color: var(--light-black);
	line-height: 2rem;
	padding: 1rem 0;
}

.packages .load-more{
	text-align: center;
	margin-top: 2rem;



}

.booking .book-form{
	padding: 2rem;
	background: var(--light-black);



}
.booking .book-form .flex{
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;

}
.booking .book-form .flex .inputBox{
	flex: 1 1 42 rem;


}
.booking .book-form .flex .inputBox input{
width: 100%;
padding: 1.2rem 1.4rem;
font-size:1.6rem ;
color: var(--light-black);
text-transform: none;
margin-top: 1.5rem;
border: var(--border);

}
.booking .book-form .flex .inputBox input:focus{
	background: var(--black);
	color: var(--white);
}
.booking .book-form .flex .inputBox input:focus::placeholder{

	color: lavender;
}
.booking .book-form .flex .inputBox span{
	font-size: 1.5rem;
	

}

.container-banka {
	max-width: 500px;
	margin: auto;
	padding-top: 50px;
}

.container-banka h2 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 1.7rem;
}

.form-group label {
	font-weight: bold;
	font-size: 1.8rem;
	color: purple;
}

.form-control {
	border-radius: 0;
	width: 100%;
padding: 1.2rem 1.4rem;
font-size:1.6rem ;
color: var(--light-black);
text-transform: none;
margin-top: 1.7rem;
border:palevioletred;
}

.btn-primary {
	border-radius: 0;
	background-color:darkgreen;
	border-color: crimson;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	
}

.btn-primary:hover {
	background-color: #0069d9;
	border-color: #0062cc;
}

.tab-content{
	max-width: 500px;
	margin: auto;
	padding-top: 50px;

}
.menu-member {
	display: flex;
padding-top: 1rem;
padding-bottom: 1rem;
box-shadow:var(--box-shadow) ;	
align-items: center;
justify-content: space-between;
list-style: none;
  }
  
  .menu-member li {
	margin-left: 10px;
  }
  
  .menu-member li:first-child {
	margin-left: 0;
  }
  
  .menu-member li a {
	display: block;
	padding: 10px;
	background-color: #ccc;
	color: #000;
	text-decoration: none;
	border-radius: 5px;
  }
  
  .menu-member li a:hover {
	background-color: #555;
	color: #fff;
  }

	
	

  



















.footer{
	background: url(images/sds.png) no-repeat;
	background-size: cover;
	background-position: center;
	
}

.footer .box-container{

display: grid;
grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
gap: 4rem;


}

.footer  .box-container  .box h3  {

	color: white;
	font-size: 2.5rem;
	padding-bottom: 2rem;
	
	}

	.footer  .box-container  .box a {

		color:var(--white);
		font-size: 1.5rem;
		padding-bottom: 1rem;
		display: block;
		
		}
	
	.footer  .box-container  .box a i{
		color: var(--main-color);
		padding-right: .5rem;
		transition: .2s linear;


	}
	.footer  .box-container  .box a:hover i{
		color: var(--main-color);
		padding-right: 2rem;


	}

	.footer .credit{
		text-align: center;
		margin-top: 3rem;
		padding-top: 3rem;
		border-top: .1rem solid var(--white);
		font-size: 2rem;
		color: var(--white); 
	}

	.footer .credit span{
		color:plum;

	}








@media (max-width:1200px){
	section{
		padding:3rem 5%;
	}
}


@media (max-width:991px){

html{
	font-size: 55%;
}

	section{
		padding:3rem 2rem;
	}
}
.home .slide .content h3{
	font-size: 10vw;
}


@media (max-width:768px){
	#menu-btn{
		display: inline-block;
		transition: .2s linear;
	
	}
	#menu-btn.fa-times{
		transform:rotate(180deg);
	}



.header .navbar{
	position: absolute;
	top:99% ; left: 0; right: 0;
	background-color: var(--white);
	border-top: var(--border);
	padding: 2rem;
	clip-path: polygon(0 0,100% 0,100% 0, 0 0);
	transition: 2s linear;

}

.header .navbar .active{
	clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
	
}

.header .navbar a{
	display: block;
	margin: 2rem;
	text-align: center;
}


}

@media (max-width:450px){

	html{
		font-size: 50%;
	}
	
}
.heading-title{
	font-size: 3.5rem;
}